@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Momo+Trust+Sans:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --background: #3A3A3A;
    --borda: #969696;
    --fazendo: #46556C;
    --feito: #466C6C;
    --afazer: #887B6B;
    --prazo: #C94242;
    --criando: #42506466;
    --branco: #FFFF;
    --preto: #000;
    --cinza: #ccc;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    line-height: 1.5rem;
    color: var(--branco);
}