.card {
  padding: 0.7rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card-titulo {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.4rem;
  border-bottom: 1px solid var(--cinza);
  font-weight: bold;
  color: var(--branco);
}

.card-tronco {
  display: flex;
  gap: 0.625rem;
}

.card-tronco-esquerda {
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 0.4rem;
  width: 50%;
  padding-right: 0.625rem;
  border-right: 1px solid var(--cinza);
  color: var(--cinza);
}

.card-valor {
  color: var(--branco);
  font-size: 0.9rem;
}

.card-tronco-direita {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  padding: 0.3rem;
}

.card-descricao {
  text-align: left;
  width: 100%;
  color: var(--branco);
  font-size: 0.9rem;
  white-space: pre-wrap;
  overflow-y: auto;
  max-height: 4.375rem;
  word-break: break-word;

}

.card-rodape {
  padding-top: 0.4rem;
}

.card-btn {
  width: 100%;
  padding: 0.4rem 0.625rem;
  background: none;
  color: var(--cinza);
  cursor: pointer;
  border: none;
}

.card-afazer {
  background: var(--afazer);
}

.card-fazendo {
  background: var(--fazendo);
}

.card-feito {
  background: var(--feito);
}